<div class="flex flex-col lg:flex-row w-full h-full p-2">
    <div class="w-full lg:w-[250px] h-full p-4">
        <div class="flex flex-col w-full mb-4">
            <p class="text-lg font-bold !mb-1">Je parle</p>
            <ul>
                <li>Français</li>
                <li>Anglais</li>
                <li>Espagnol</li>
            </ul>
        </div>
        <div class="flex flex-col w-full mb-4">
            <p class="text-lg font-bold !mb-1">J'enseigne</p>
            <ul>
                <li>Math</li>
                <li>Physique</li>
                <li>Chimie</li>
            </ul>
        </div>
        <div class="flex flex-col w-full mb-4">
            <p class="text-lg font-bold !mb-1">Mes reseaux</p>
            <ul class="flex flex-row gap-2">
                <li><i class="pi pi-linkedin"></i></li>
                <li><i class="pi pi-facebook"></i></li>
                <li><i class="pi pi-twitter"></i></li>
                <li><i class="pi pi-github"></i></li>
            </ul>
        </div>
    </div>
    <div class="flex-1 h-full bg-gray-100">
        <div class="p-4">
            <p>Titre detaille'' fsdf sdfg xfh zdfg xfhz dfg xfgh</p>
            <pre>
Description detaillee'' fsdf sdfg xfh zdfg xfhz dfg xfgh

                asd ad reg zcb 
                asd ad reg zcb
                
                sdf dfg jy dcghj dy xfghert iojx,dk gj;ofgh 
                sdf dfg fg dgg d
            </pre>
        </div>
    </div>
</div>
