<app-smart-section [title]="title" [editMode]="editMode()" [buttonIcon]="buttonIcon()" (onAddClick)="showAddCursusBox()">
    <ng-template #main>
        @if (showEditBox()) {
        <div class="mt-4">
            <bp-cursus-edition (clickCancel)="hideAddCursusBox()" (clickSubmit)="addNewCursus($event)"></bp-cursus-edition>
        </div>
        } @for (cursus of cursuses(); track cursus.id) {
        <bp-cursus-card [cursus]="cursus" [editMode]="false" (needRefresh)="loadData()" [showActions]="showActions()"></bp-cursus-card>
        }@empty {
        <div class="text-center min-h-[150px] flex flex-col justify-center items-center">
            <i class="pi pi-graduation-cap text-gray-400 text-4xl mb-4"></i>
            <p class="text-gray-500">Pas de cours fournis</p>
            @if(!showEditBox() && showActions()){
            <button pButton label="Ajouter votre premier cours" class="mt-3 p-button-outlined" (click)="showAddCursusBox()"></button>
            }
        </div>
        }
    </ng-template>

    <ng-template #empty>
        <div class="text-center">
            <i class="pi pi-graduation-cap text-gray-400 text-4xl mb-4"></i>
            <p class="text-gray-500">Pas de formations fournies</p>
            @if(showActions()){
            <button pButton label="Ajouter votre première formation" class="mt-3 p-button-outlined" (click)="showAddCursusBox()"></button>
            }
        </div>
    </ng-template>
</app-smart-section>
