<div class="flex flex-col lg:flex-row w-full gap-6 mt-4 bg-white dark:bg-transparent rounded-md shadow-md p-0 lg:p-4">
    <div class="w-full lg:w-[280px] flex-shrink-0">
        <p-card>
            <div class="flex flex-col items-center text-center gap-4">
                <!-- Teacher Image -->
                <p-avatar [image]="teacherprofile().profile.imgUrl || 'assets/user.svg'" size="xlarge" shape="square" style="width: 250px; height: 250px" />

                <!-- Teacher Name -->
                <div class="flex flex-col gap-2">
                    <h3 class="text-2xl font-bold text-surface-900 dark:text-surface-0 m-0">{{ teacherprofile().profile.firstName }} {{ teacherprofile().profile.lastName }}</h3>
                    @if (teacherprofile().email) {
                    <div class="flex items-center justify-center gap-2 text-surface-600 dark:text-surface-400">
                        <i class="pi pi-envelope text-sm"></i>
                        <span class="text-sm">{{ teacherprofile().email }}</span>
                    </div>
                    }
                </div>

                <!-- Additional Info -->
                <p-divider styleClass="my-2"></p-divider>

                <p class="text-surface-700 dark:text-surface-300 text-sm m-0">Remplissez le formulaire pour contacter votre professeur</p>
            </div>
        </p-card>
    </div>
    <div class="flex-1">
        <bp-configurable-form [structure]="contactStructure" #configurableForm></bp-configurable-form>
        <div class="w-full gap-2 mt-4 flex justify-end">
            <p-button label="Envoyer" styleClass="w-full sm:w-auto" (onClick)="configurableForm.onSubmit()"></p-button>
        </div>
    </div>
</div>
