/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './demo/demo.scss';

.e-schedule,
.e-schedule .e-content-wrap {
    background-color: #1e1e1e !important;
    color: #fff !important;
}

.app-dark.e-appointment {
    background-color: #333 !important;
    border-color: #444 !important;
}

.active-link {
    font-weight: bold;
    border: 2px solid var(--primary-color) !important;
    border-radius: 4px;
}

// style pour les template des appointments
.waiting,
.Pending {
    opacity: 0.6;
    position: relative;
    &::after {
        content: 'En attente...';
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: bold;
        border-radius: 4px;
    }
}

// tab panel

// .p-tabpanels {
//     padding: 14px !important;
// }

// @media screen and (max-width: 640px) {
//     .p-tabpanels {
//         padding: 7px !important;
//     }
// }
