/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './demo/demo.scss';

.e-schedule,
.e-schedule .e-content-wrap {
    background-color: #1e1e1e !important;
    color: #fff !important;
}

.app-dark.e-appointment {
    background-color: #333 !important;
    border-color: #444 !important;
}

.active-link {
    font-weight: bold;
    border: 2px solid var(--primary-color) !important;
    border-radius: 4px;
}
