@if(!editMode()){
<app-smart-element [title]="'Formation'" [editMode]="true" [editButtonIcon]="'pi pi-pencil'" [deleteButtonIcon]="'pi pi-trash'" (onEditClick)="editMode.set(true)">
    <ng-template #main>
        <div class="flex gap-2 p-2 pl-0">
            <span class="w-2"></span>
            <div class="flex flex-col gap-1">
                <p class="font-semibold !mb-0">{{ formation().title }}</p>
                <p class="text-xs !mb-0 text-gray-600 dark:text-gray-400">{{ formation().institute }} - {{ formation().dateFrom | date }} @if (formation().dateTo) { à {{ formation().dateTo | date }} } @else { (En cours) }</p>
                <p class="text-xs !mb-0 text-gray-700 dark:text-gray-400">{{ formation().description }}</p>
            </div>
        </div>
    </ng-template>
</app-smart-element>
} @else {
<bp-formations-edition [formation]="formation()" (clickSubmit)="editMode.set(false)" (clickCancel)="editMode.set(false)"></bp-formations-edition>
}
